<div layout="row" layout-align="center center" style="min-height:100%;">
	<md-content layout="column" flex-xs="80" flex-sm="40" flex-md="30" flex="20" md-whiteframe="2">
		<md-toolbar layout-padding class="md-accent md-hue-1"><span flex>Bejelentkezés</span></md-toolbar>		
		<md-content layout-padding layout="column">
			<md-subheader class="md-warn" style="padding:0"><span flex>{{vm.message}}</span></md-subheader>
			<md-input-container style="padding:0;margin:0">
				<label>UserName</label>
				<input type="text" ng-model="vm.sso" required>
			</md-input-container>
			<md-input-container style="padding:0;margin:0">
				<label>Password</label>
				<input type="password" ng-model="vm.password" required>
			</md-input-container>
			<md-button aria-label="Bejelentkezés" ng-click="vm.auth({sso:vm.sso, password:vm.password})">
				Bejelentkezés
				<md-icon class="material-icons">lock_open</md-icon>
			</md-button>
		</md-content>
	</md-content>
</div>
